<% content_for(:body_class, "full-page-scrollable white-body") %>
<div class="target-new-page">
  <div class= "check-box-title">
    <h4 class= "text-center">Choisis tes cibles</h4>
  </div>

  <div class="text-center form-inline target-wrap">
    <%= simple_form_for(:search, :url => new_poll_target_url, :method => :get, :remote => true) do |f| %>
    <div class="target-container">
      <div id="target-search-btn-div">
        <%= f.button :button, class: "target-btn-targets" do %>
        <i class="fa fa-search target-search-icon" aria-hidden="true"></i>
        <% end %>
      </div>
      <div id= "target-search-bar-div">
        <%= f.input :search, input_html: {class: "target-search-bar"}, label: false, placeholder: "Rechercher" %>
      </div>
    </div>
    <% end %>
  </div>


    <div class="selected-targets">
      <%= simple_form_for @poll, url: poll_targets_path(@poll), method: :post do |f| %>
      <div class="collection-check-boxes" id="collection-selected">
      </div>
        <%= f.button :submit, class: "btn btn-primary btn-block target-btn-envoyer", value: "Envoyer" %>
      <% end %>
    </div>
    <div class="targets" id="search-results">
      <%= render "search_results" %>
    </div>


</div>

<% content_for(:after_js) do %>
  <script>
  $(function(){
    $('.selected-targets').hide();

    $('.targets').on('click', '#collection-targets > span ', function(event) {
      console.log("tu me rajoute");
      $('.selected-targets').show();
      $(this).children().children().children().removeAttr('id');
      $(this).children().children().children().attr('id','selected');

      $checkbox = $(this).find('input[type="checkbox"]');
      $checkbox.prop('checked', true);

      $('#collection-selected').append($(this).clone());
      $(this).remove();
    });


    $('.selected-targets').on('click', '#collection-selected > span', function(event) {
      console.log("tu me vire");
      $(this).children().children().children().removeAttr('id');
      $(this).children().children().children().attr('id','target');

      $checkbox = $(this).find('input[type="checkbox"]');
      $checkbox.prop('checked', false);

      $('#collection-targets').prepend($(this).clone());
      if ($(this).siblings().size() == 0){
        $('.selected-targets').hide();
      }
      $(this).remove();
    });
  });
  </script>
<% end %>
