<% content_for(:body_class, "full-page-scrollable") %>
<div class="target-new-page">
  <div class= "check-box-title">
  <h4 class= "text-center">Choisis tes cibles</h4>
  </div>

  <div class="text-center form-inline">
    <%= simple_form_for(:search, :url => new_poll_target_url, :method => :get, :remote => true) do |f| %>
      <%= f.input :search, label: false %>
      <%= f.button :submit, class: "btn btn-primary search-btn", value: "Rechercher" %>
    <% end %>
  </div>

  <div class= "container">
    <div class="selected-targets">
      <h5 class= "text-center">Tes cibles actuelles:</h4>
      <%= simple_form_for @poll, url: poll_targets_path(@poll), method: :post do |f| %>
      <div class="collection-check-boxes" id="collection-selected">
      </div>
        <%= f.button :submit, class: "btn btn-primary btn-block", value: "Envoyer" %>
      <% end %>
      </div>
    <div class="targets" id="search-results">
      <%= render "search_results" %>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <script>
  $(function(){
    $('.selected-targets').hide();

    $('.targets').on('click', '#collection-targets > span ', function(event) {
      console.log("tu me rajoute");
      $('.selected-targets').show();
      $(this).children().children().children().removeAttr('id');
      $(this).children().children().children().attr('id','selected');

      $checkbox = $(this).find('input[type="checkbox"]');
      $checkbox.prop('checked', true);

      $('#collection-selected').append($(this).clone());
      $(this).remove();
    });


    $('.selected-targets').on('click', '#collection-selected > span', function(event) {
      console.log("tu me vire");
      $(this).children().children().children().removeAttr('id');
      $(this).children().children().children().attr('id','target');

      $checkbox = $(this).find('input[type="checkbox"]');
      $checkbox.prop('checked', false);

      $('#collection-targets').prepend($(this).clone());
      if ($(this).siblings().size() == 0){
        $('.selected-targets').hide();
      }
      $(this).remove();
    });
  });
  </script>
<% end %>
