<%= cl_image_tag poll.photo.path, class: "photo_poll" %>
<div class="poll-text" style= "top: <%= poll.context_y %>%">
<p id= "poll_context"> <%= poll.context %> </p>
</div>
<%= link_to "", my_polls_path, class: "poll-button-profile fa fa-user" %>
<%= link_to "", new_poll_path, class: "poll-button-new fa fa-camera" %>
<%= link_to (image_tag("smiley1.png")), answers_path( "answer" => {"value" => 1, "poll_id" => poll.id, "user_id" => current_user}), class: "poll-button-yay", method: :post %>
<%= link_to (image_tag("pile-of-poo.png")), answers_path( "answer" => {"value" => 0, "poll_id" => poll.id, "user_id" => current_user}), class: "poll-button-nay", method: :post %>
