<div class="poll-info hide-info" id="poll-info-<%= poll.id %>">

  <div>
    <p class= "poll_context_info text-center"> <%= poll.context %> </p>
  </div>
  <div class="poll-target">
    <% poll.targets.each do |target| %>
      <span><%= image_tag target.group.url ,  height: 25 %> <%= target.group.name %></span>
    <% end %>
  </div>

  <div class= "poll-author">
    <% if poll.anonym? %>
      <p><%= image_tag "anonym.png",  height: 25 %> Anonyme !</p>
    <% else %>
      <% user = poll.user %>
    <p><%= cl_image_tag user[:facebook_picture_url], class: "avatar-bordered"  %> <%= user[:first_name] %> <%= user[:last_name] %> </p>
    <%end%>
  </div>


  <div class="row">
    <div class="col-xs-6 text-center">
      <div class= "yay-barre" style= "width: 40%">
        <%= image_tag "YAYicon.png", class: "poll-smiley" %>
      </div>
      <h3><%= poll.yays_count %></h3>
    </div>

    <div class="col-xs-6 text-center">
      <div class= "nay-barre" style= "width: 40%">
        <%= image_tag "NAYicon.png", class: "poll-smiley" %>
      </div>
      <h3><%= poll.yays_count %></h3>
    </div>
  </div>
</div>
