<div class="poll" id="poll-<%= poll.id %>">
  <%= cl_image_tag poll.photo.path, class: "poll-photo" %>
  <% unless poll.context.empty? %>
    <div class="poll-text" style= "top: <%= poll.context_y %>%">
        <%=poll.context%>
    </div>
  <% end %>

  <%= link_to (image_tag("smiley1.png")), poll_answers_path(poll, "answer" => {"value" => 1, "last" => local_assigns[:last] } ), class: "poll-button-yay", method: :post, remote: true %>

  <%= link_to (image_tag("pile-of-poo.png")), poll_answers_path(poll, "answer" => {"value" => 0, "last" => local_assigns[:last] } ), class: "poll-button-nay", method: :post, remote: true %>

  <%= link_to (image_tag("heart.png")), poll_favourites_path(poll, favourite: { poll_id: poll.id }), method: :post, remote: true, class: "poll-button-favourite" %>

  <%= render "polls/poll_info", poll: poll  %>
</div>
