<% content_for(:body_class, "full-page") %>

<%= link_to "", my_polls_path, class: "button-nav-right fa fa-user" %>
<%= link_to "", new_poll_path, class: "button-nav-left fa fa-camera" %>

<div id="polls">
  <%= render "poll", poll: @polls.last, last: true unless @polls.empty? %>
  <% @polls[0..-2].each do |poll| %>
    <%= render "poll", poll: poll  %>
  <% end %>
</div>

<div class="background-message">
  <div class="wrapper-blue text-center">
    <div class="index-poll-refresh background-picture">
      <%= image_tag "loudly-crying-face.png" %>
      <h1> Nothing to yay or nay!!</h1>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
$(document).ready(function(){

    $(".poll").swipe({
      swipeRight:function(event, direction, distance, duration, fingerCount) {
       console.log("Swipe Right");
        $(this).addClass('animate-nay').delay(700).fadeOut(1);
        $('.poll').find('.status').remove();
        $(this).append('<div class="status yay">Yay!</div>');
        if ( $(this).is(':last-child') ) {
          $('.poll:nth-child(1)').removeClass ('animate-nay animate-yay').fadeIn(300);
         } else {
            $(this).next().removeClass('animate-nay animate-yay').fadeIn(400);
         }
      }

    });

   $(".poll").swipe({
     swipeLeft:function(event, direction, distance, duration, fingerCount) {
       console.log("Swipe Left");
       $(this).addClass('animate-yay').delay(700).fadeOut(1);
       $('.poll').find('.status').remove();
       $(this).append('<div class="status nay">Nay!</div>');
       if ( $(this).is(':last-child') ) {
         $('.poll:nth-child(1)').removeClass ('animate-nay animate-yay').fadeIn(300);
       } else {
         $(this).next().removeClass('animate-nay animate-yay').fadeIn(400);
       }
      }
  });
});
</script>
<% end %>
