<% @favourites.each do |favourite| %>

<div class="container">
  <div class="row">

    <div class="col-xs-3">
      <%= link_to my_poll_path(favourite.poll) do %>
        <% cl_image_tag(favourite.poll.photo.path, class: "min-photo-poll") %>
      <% end %>
    </div>

    <div class="col-xs-9">
      <div class="context-anonyme">
        <% if favourite.poll.context == "" %>
         <div class="profile-context-nil"></div>
        <% else %>
          <div class="profile-context">
            <% if favourite.poll.context.size < 30 %>
              <p><%= favourite.poll.context.capitalize %></p>
            <% else %>
              <p><%= favourite.poll.context.first(30).capitalize + "... " %></p>
            <% end %>
          </div>
        <% end %>

        <div class="poll-timer">
          <div id="timer<%= favourite.poll.id %>" class ="text-center">
            <% if  favourite.poll.ends_at >  Time.zone.now %>
              <p><span id="timer-val"><%= ((favourite.poll.ends_at - Time.zone.now) / 60).to_i %></span> min.</p>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            <% else %>
              <p>Over</p>
            <% end %>
          </div>
          <%= image_tag "sablier.png", height: 20 %>
        </div>
      </div>

      <div class="smileys-yn">
         <div class="nay-smiley">
         <p><%= favourite.poll.nays_count %></p>
          <%= image_tag "nay-profile.png" %>
        </div>
        <div class="yay-smiley">
          <p><%= favourite.poll.yays_count %></p>
          <%= image_tag "yay-profile.png" %>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="border-blue"></div>


<% content_for(:after_js) do %>
    <script>
      // Set the date we're counting down to (@choogle.due_at)
      var pollEndAt<%= favourite.poll.id %> = '<%= favourite.poll.ends_at %>';
      var countDownDate<%= favourite.poll.id %> = parseDate(pollEndAt<%= favourite.poll.id %>);
      // Update the count down every 1 second
      var x<%= favourite.poll.id %> = setInterval(function() {
        // Get todays date and time
        var now = new Date().getTime();
        // Find the distance between now an the count down date
        var distance<%= favourite.poll.id %> = countDownDate<%= favourite.poll.id %> - now;
        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours<%= favourite.poll.id %> = Math.floor((distance<%= favourite.poll.id %> % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes<%= favourite.poll.id %> = Math.floor((distance<%= favourite.poll.id %> % (1000 * 60 * 60)) / (1000 * 60));
        var seconds<%= favourite.poll.id %> = Math.floor((distance<%= favourite.poll.id %> % (1000 * 60)) / 1000);
        // Display the result in the element with id="demo"
        if (hours<%= favourite.poll.id %> > 0) {
        document.getElementById("timer<%= favourite.poll.id %>").innerHTML = hours<%= favourite.poll.id %> + "h";
         } else if (minutes<%= favourite.poll.id %> < 0) {
          document.getElementById("timer<%= favourite.poll.id %>").innerHTML = seconds<%= favourite.poll.id %> + "s";
         } else {
          document.getElementById("timer<%= favourite.poll.id %>").innerHTML = minutes<%= favourite.poll.id %> + "min";
         }
        // If the count down is finished, write some text
        if (distance<%= favourite.poll.id %> < 0) {
          clearInterval(x<%= favourite.poll.id %>);
          document.getElementById("timer<%= favourite.poll.id %>").innerHTML = "Over";
        }
      }, 1000);
    </script>
  <% end %>

<% end %>


