<% @polls.each do |poll| %>


<div class="container">
  <div class="row">

    <div class="col-xs-3">
      <%= link_to my_poll_path(poll) do %>
        <% cl_image_tag(poll.photo.path, class: "min-photo-poll") %>
      <% end %>
    </div>

    <div class="col-xs-7">
      <div class="context-anonyme">
        <div class="profile-context">
          <% if poll.context.size < 30 %>
            <p><%= poll.context.capitalize %></p>
          <% else %>
            <p><%= poll.context.first(30).capitalize + "... " %></p>
          <% end %>
        </div>
        <div class="profile-anonym">
          <% if poll.anonym %>
            <%= image_tag "anonym.png", height: 20 %>
          <% else %>
            <%= image_tag "monkey.png", height: 20 %>
          <% end %>
        </div>
      </div>

      <div class="smileys-yn">
         <div class="nay-smiley">
         <p><%= poll.nays_count %></p>
          <%= image_tag "nay-profile.png", height: 60 %>
        </div>
        <div class="yay-smiley">
          <p><%= poll.yays_count %></p>
          <%= image_tag "yay-profile.png", height: 60 %>
        </div>
      </div>
    </div>

    <div class="col-xs-2">
      <div class="poll-timer">
        <div id="timer<%= poll.id %>" class ="text-center">
          <% if  poll.ends_at >  Time.zone.now %>
            <p><span id="timer-val"><%= ((poll.ends_at - Time.zone.now) / 60).to_i %></span> min.</p>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          <% else %>
            <p>Over</p>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="border-blue"></div>


<% content_for(:after_js) do %>
    <script>
      // Set the date we're counting down to (@choogle.due_at)
      var pollEndAt<%= poll.id %> = '<%= poll.ends_at %>';
      var countDownDate<%= poll.id %> = parseDate(pollEndAt<%= poll.id %>);
      // Update the count down every 1 second
      var x<%= poll.id %> = setInterval(function() {
        // Get todays date and time
        var now = new Date().getTime();
        // Find the distance between now an the count down date
        var distance<%= poll.id %> = countDownDate<%= poll.id %> - now;
        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours<%= poll.id %> = Math.floor((distance<%= poll.id %> % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes<%= poll.id %> = Math.floor((distance<%= poll.id %> % (1000 * 60 * 60)) / (1000 * 60));
        var seconds<%= poll.id %> = Math.floor((distance<%= poll.id %> % (1000 * 60)) / 1000);
        // Display the result in the element with id="demo"
        if (hours<%= poll.id %> > 0) {
        document.getElementById("timer<%= poll.id %>").innerHTML = hours<%= poll.id %> + "h";
         } else if (minutes<%= poll.id %> < 0) {
          document.getElementById("timer<%= poll.id %>").innerHTML = seconds<%= poll.id %> + "s";
         } else {
          document.getElementById("timer<%= poll.id %>").innerHTML = minutes<%= poll.id %> + "min";
         }
        // If the count down is finished, write some text
        if (distance<%= poll.id %> < 0) {
          clearInterval(x<%= poll.id %>);
          document.getElementById("timer<%= poll.id %>").innerHTML = "Over";
        }
      }, 1000);
    </script>
  <% end %>

<% end %>

