<% @polls.each do |poll| %>
  <div class="poll-profile-informations">
    <div class= "text-center profile-title"> <p><%= poll.context %></p> </div>
    <%= link_to my_poll_path(poll) do %>
      <% cl_image_tag(poll.photo.path, class: "min-photo-poll") %>
    <% end %>
    <div class="poll-answers">
      <h3 id="yay"><%= poll.yays_count %><%= image_tag "yay.png", class: "poll-yn-profile-picture" %></h3>
      <h3 id="nay"><%= poll.nays_count %><%= image_tag "nay.png", class: "poll-yn-profile-picture" %></h3>
    </div>
    <div class="poll-time text-center">
    <% if  poll.ends_at >  Time.zone.now %>
      <p><%= ((poll.ends_at -  Time.zone.now) / 60).to_i %> min.</p>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    <% else %>
      <p>Terminé</p>
    <% end %>
    </div>
  </div>
<% end %>



