<div class="wrapper-test">
  <div>
  <%= image_tag @user.facebook_picture_url  %>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.polls.count %>
  <%= @user.answers.count %>
</div>
</div>
