<div class="full-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <div class="sign-in text-center">
          <%= image_tag "logo.png", class: "logo"%>
          <p>L'app la plus Yay de l'univers</p>
          <ul>
            <li>
              <%= image_tag "smiley1.png", class: "smiley" %>
              <p>Hyper fun</p>
            </li>
            <li>
              <%= image_tag "smiley2.png", class: "smiley" %>
              <p>Gratuit</p>
            </li>
            <li>
              <%= image_tag "smiley3.png", class: "smiley" %>
              <p>Cible personnalisée</p>
            </li>
          </ul>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"></a>
    <a href="#" style="font-size: 14px;">Politique de confidentialité</a>
    <a href="#" style="font-size: 14px;">coucou@yayornay.io</a>
  </div>
</div> -->


