<div class="wrapper-blue text-center">
  <div class="sign-in">
    <%= image_tag "logo.png", class: "logo" %>
    <p>L'app la plus Yay de l'univers</p>
    <ul>
      <li><%= image_tag "smiley1.png", class: "smiley" %> Hyper fun</li>
      <li><%= image_tag "smiley2.png", class: "smiley" %> Gratuit</li>
      <li><%= image_tag "smiley3.png", class: "smiley" %> Cible personnalisée</li>
    </ul>
    <%= render "devise/shared/links" %>
  </div>
</div>
